<!DOCTYPE html>
<html>
<head>
  <title>FormIt</title>
  <%= stylesheet_link_tag "print" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "d3" %>
  <%= javascript_include_tag "print" %>
</head>
<body>
	<%= yield %>
</body>
</html>